<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : "Welcome"%> | The BookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow   fixed-top">
      <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link <%= params[:controller] ==  'books' ? 'active' : ''%>" href="<%= home_path%>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= params[:controller] ==  'about' ? 'active' : ''%>" href="<%= about_path%>">About</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New</a>
                
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%= new_book_path%>">Book</a>
              <a class="dropdown-item" href="<%= new_category_path%>">Category</a>
              <a class="dropdown-item" href="<%= new_author_path%>">Author</a>
              <a class="dropdown-item" href="<%= new_publisher_path %>">Publisher</a>
            </div>

        </li>
      </ul>
      </div>
      </div>
    </nav>

  <header>
    <div class="container">
      <h1>The BookStore <small><%= @page_title ? @page_title : "Welcome"%></small></h1>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <% if flash[:notice]%>
            <div class ="alert alert-success"><%= flash[:notice] %></div>
          <% end %>

          <% if flash[:alert]%>
            <div class ="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>

          <%= yield %>

        </div>
        <div  class="col-md-4">
          <%= render 'partials/sidebar'%>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class = "container">
    <p> Copyright &copy; 2020, All Rights Reserved</p>
    </div>
  </footer>
  </body>
</html>
